/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
Icon\r
app/Icon\r
app/Ressources/Icon\r
app/Ressources/views/Icon\r
app/Ressources/views/default/Icon\r
app/config/Icon\r
bin/Icon\r
src/AppBundle/Controller/Icon\r
src/AppBundle/Icon\r
src/Icon\r
tests/AppBundle/Controller/Icon\r
tests/AppBundle/Icon\r
web/Icon\r
/contents/